body {
  margin: 0;
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 36px;
}

fieldset {
  padding: 0;
  box-sizing: border-box;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  box-sizing: border-box;
}
